@charset "UTF-8";

* {
    margin:0px;
    padding: 0px;



}


@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


:root {
--corfundo:#030303;
--cornav:#34977C;
}







body {
    background-color:#F2E3D5;
}

nav {
    background-color:#F2E3D5;
    padding: 4px;
    font-family:'Nothing You Could Do', cursive ;
    text-align: center;
    border-bottom: 2px solid #3CA6A6;
    padding-bottom: 10px;
}

nav > a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding:5px 20px;
    
    
}
nav > a:hover {
    color:rgb(68, 188, 218);
    transition: 0.5s;
    border-left: 2px solid #3CA6A6;
    border-right:2px solid #3CA6A6;
    border-radius: 5px;

    
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color:#012E40;
    margin: auto;
    padding-top: 20px;
    margin-top: 10px;
    
}
/*Primeira imagem*/

main > article > picture.img-resumo {
    width: 100%;
   display: flex;
    min-width:350px ;

}

main > article > picture.img-resumo > img {
    max-height: 250px;
    display: block;
    margin: auto;
    border:5px solid rgb(3, 3, 3);
    margin-bottom: 10px;
    
}

/*Fim da primeira imagem*/
 main > article {
    background-image: url('../img/fundologo.png');
    background-repeat: round;
    background-attachment: scroll;
    min-width:350px;
    max-width: 1000px;
 }

 main > article > h1 {
     padding-left:10px; 
     margin-bottom: 10px;
     font-size: 30px;
     font-weight: bolder;
     color:white;
     background-color: #3CA6A6;
 }